@import '../variable.less';
@import '../property.less';

.head{
	background-color: @headBgColor;
	.h(40);
	.lh(40);
	padding: 0 7px;
	.text{
		color: @defaultColor;
	}
	.custom{
		background-color: @warnColor;
		border-color:  @warnColor;
		color: @defaultColor;
		border-style: dashed;
		.mt(7);
		.pl(15);
		.pr(15);
	}
	.back-btn{
		font-size: 20px;
		width: 1rem;
		left: 10px;
	}
}
