.position-list {
    margin: 0;
    padding: 0;
    .item {
        margin: 0;
        padding: 7px 3px;
        list-style: none;
        border-bottom: 1px solid @listLineColor;
        .logo {
            .h(65);
            .h(65);
            .mr(13);
        }
        .title {
            margin: 0;
        }
        .text {
            margin: 0;
        }
    }
}
