.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  clear: both;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.ta-c {
  text-align: center;
}
.va-t {
  vertical-align: top;
}
.va-b {
  vertical-align: bottom;
}
.va-m {
  vertical-align: middle;
}
