.comWidth {
  width: 1000px;
  margin: 0 auto;
}
.leftArea {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.topBar {
  height: 31px;
  background-color: #F7F7F7;
  line-height: 31px;
}
.topBar a:hover {
  color: red;
}
.collection {
  background: url(imgs/icon/collection.jpg) left center no-repeat;
  padding-left: 19px;
  font-weight: bold;
}
.logoBar {
  height: 85px;
  background-color: #1D7AD9;
}
.logo {
  padding-left: 41px;
  padding-top: 13px;
}
.search_box {
  width: 430px;
  padding-top: 23px;
  padding-left: 185px;
}
.search_box .search_text {
  width: 350px;
  height: 35px;
  line-height: 35px\9;
  /* css \9:代表所有的IE浏览器  */
  padding: 0 5px;
  background-color: #FFF;
}
.search_box .search_btn {
  width: 70px;
  height: 35px;
  font-size: 14px;
  background-color: #FF8C00;
  color: #fff;
  cursor: pointer;
}
.shopCar {
  width: 145px;
  height: 35px;
  background-color: #FF9C01;
  margin-top: 23px;
  margin-right: 59px;
  display: inline;
  /* 让子元素继承后面的样式--> */
  font: 14px/35px "Microsoft YaHei", "微软雅黑";
  color: #FFF;
}
.shopCar .shopText {
  color: #FFF;
  height: 100%;
  width: 87px;
  border-right: 1px solid #E27A00;
  background: url(imgs/icon/shaoIcon.jpg) 10px center no-repeat;
  text-indent: 40px;
}
.shopCar .shopNum {
  width: 27px;
  height: 35px;
  border-left: 1px solid #FF9C01;
  background: url(img/icon/sj.jpg) 33px center no-repeat;
  text-align: right;
  padding-right: 27px;
}
.navBox {
  height: 35px;
  background-color: #0067d0;
  color: #fff;
}
.navBox .shopClass {
  width: 190px;
  line-height: 35px;
  position: relative;
}
.navBox .shopClass h3 {
  text-align: center;
  font-family: "Microsoft YaHei", "微软雅黑";
}
.navBox .shopClass i {
  background: url(imgs/icon/down.jpg) left center no-repeat;
  width: 11px;
  height: 7px;
  overflow: hidden;
  display: inline-block;
  margin-left: 11px;
}
.navBox .shopClass .shopClass_show {
  background-color: #4593FD;
  width: 100%;
  position: absolute;
  left: 0;
  top: 35px;
}
.navBox .shopClass .shopClass_show .shopClass_item {
  padding: 12px 10px;
  border-bottom: 1px solid #3487F2;
  border-top: 1px solid #5AA1FE;
  line-height: 13px;
}
.navBox .shopClass .shopClass_show .shopClass_item dt {
  height: 21px;
  background: url(img/icon/shop_js.jpg) right center no-repeat;
  line-height: 1;
  overflow: hidden;
}
.navBox .shopClass .shopClass_show .shopClass_item a {
  color: #FFF;
}
.navBox .shopClass .shopClass_show .shopClass_item a:hover {
  text-decoration: underline;
}
.navBox .shopClass .shopClass_show .shopClass_item .b {
  font: 14px/1 "Microsoft YaHei", "微软雅黑";
}
.navBox .shopClass .shopClass_show .shopClass_item .aLink {
  width: 48px;
  height: 20px;
  background: url(img/icon/aLink_bg.png) left center no-repeat;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  text-decoration: underline;
}
.navBox .shopClass .shopClass_show .shopClass_active {
  background-color: #FFF;
  margin-left: 1px;
}
.navBox .shopClass .shopClass_show .shopClass_active dt {
  background: none;
}
.navBox .shopClass .shopClass_show .shopClass_active a {
  color: #000;
}
.navBox .shopClass .shopClass_show .shopClass_active .aLink {
  color: #FFF;
  text-decoration: none;
}
.navBox .shopClass .shopClass_list {
  width: 568px;
  border: 1px solid #CCC;
  border-left: 1px solid #FFF;
  position: absolute;
  left: 190px;
  top: 35px;
}
.navBox .shopClass .shopClass_list .shopList_cont {
  padding: 20px;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_item {
  padding: 10px 0;
  border-bottom: 1px dotted #CCC;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_item dt {
  color: #4B87D9;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_item dd {
  padding-left: 60px;
  margin-top: -24px;
  line-height: 24px;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_item dd a {
  margin-right: 12px;
  color: #000;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_links {
  padding: 15px 0;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_links a {
  color: #FFF;
  background-color: #2785E6;
  height: 26px;
  line-height: 26px;
  font-style: 12px;
  display: inline-block;
  padding: 0 8px;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_links a span {
  width: 11px;
  height: 7px;
  background: url(imgs/icon/shop_sj.jpg) left center no-repeat;
  display: inline-block;
  margin-left: 7px;
}
.navBox .nav {
  line-height: 35px;
}
.navBox .nav li {
  float: left;
}
.navBox .nav li a {
  height: 35px;
  display: inline-block;
  padding: 0 35px;
  color: #FFF;
}
.navBox .nav li .active {
  background-color: #4593FD;
}
.banner_bar {
  float: right;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  background-color: yellow;
}
.banner_bar .imgBox {
  position: absolute;
  left: 0;
  top: 0;
}
.banner_bar .imgBox li {
  float: left;
}
.banner_bar .imgBox img {
  display: block;
}
.banner_bar .imgNum {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.banner_bar .imgNum a {
  width: 20px;
  height: 5px;
  margin: 0 3px;
  background-color: #FFF;
  overflow: hidden;
  display: inline-block;
}
.banner_bar .imgNum .active {
  background-color: #FF7700;
}
.banner_big {
  width: 810px;
  height: 326px;
}
.banner_big .imgBox {
  width: 3240px;
  height: 326px;
}
.banner_big .imgBox img {
  width: 810px;
  height: 326px;
}
.banner_sm {
  width: 190px;
  height: 400px;
}
.banner_sm .imgBox {
  width: 760px;
  height: 400px;
}
.banner_sm .imgBox img {
  width: 380px;
  height: 400px;
}
.shopTitle {
  height: 44px;
  line-height: 44px;
  font-family: "Microsoft YaHei", "微软雅黑";
  margin-bottom: 15px;
}
.shopTitle h3 {
  font-size: 24px;
  float: left;
  font-weight: normal;
  padding-left: 15px;
}
.shopTitle .icon {
  width: 44px;
  height: 44px;
  background: url(imgs/icon/shopIcon.jpg) left top no-repeat;
}
.shopTitle .more {
  float: right;
  font-family: "宋体";
}
.shopTitle .more:hover {
  text-decoration: underline;
}
.shopList {
  margin-bottom: 15px;
}
.shopList .leftArea {
  width: 190px;
}
.shopList .rightArea {
  width: 808px;
  height: 396px;
  border: 1px solid #999;
  border-bottom: 3px solid #999;
  overflow: hidden;
}
.shopList .rightArea .shopList_top {
  margin-right: -4px;
}
.shopList .rightArea .shopList_top .shop_item {
  width: 202px;
  height: 279px;
  float: left;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  text-align: center;
  font-family: "Microsoft YaHei", "微软雅黑";
}
.shopList .rightArea .shopList_top .shop_item .shop_img {
  height: 218px;
}
.shopList .rightArea .shopList_top .shop_item .shop_img img {
  width: 100%;
  height: 218px;
  display: block;
}
.shopList .rightArea .shopList_top .shop_item h3 {
  font-size: 16px;
}
.shopList .rightArea .shopList_top .shop_item p {
  font-size: 14px;
  color: #FF7300;
  line-height: 21px;
}
.shopList .rightArea .shopItem_sm {
  width: 202px;
  height: 106px;
  border-right: 1px solid #999;
  padding-top: 10px;
  float: left;
  margin-right: -1px;
}
.shopList .rightArea .shopItem_sm .shopItem_smImg {
  width: 95px;
  float: left;
}
.shopList .rightArea .shopItem_sm .shopItem_smImg img {
  width: 95px;
  height: 95px;
}
.shopList .rightArea .shopItem_sm .shopItem_text {
  padding-top: 28px;
  width: 103px;
  float: left;
}
.shopList .rightArea .shopItem_sm .shopItem_text p {
  color: #FF7300;
}
.shopList .rightArea .shopItem_sm .shopItem_text h3 {
  font-family: "Microsoft YaHei", "微软雅黑";
  font-size: 16px;
  font-weight: normal;
  color: #181818;
  line-height: 30px;
}
.hr_25 {
  height: 25px;
}
.hr_15 {
  height: 15px;
}
.footer {
  text-align: center;
  background-color: #D4D4D4;
  line-height: 24px;
  padding: 50px 0;
}
.footer i {
  font-style: normal;
  margin: 0 5px;
}
.footer a {
  color: #000;
}
.footer a:hover {
  color: #F60;
}
.footer p.web {
  padding-top: 30px;
}
.footer img {
  margin: 0 12px;
}
.products .leftArea {
  width: 185px;
}
.products .leftArea .leftNav {
  background-color: #F3F3F3;
  border: 1px solid #D7D7D7;
}
.products .leftArea .leftNav .nav_title {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  border-bottom: 1px solid #D7D7D7;
  text-align: center;
}
.products .leftArea .leftNav .nav_cont {
  padding: 0 18px 4px;
  border-bottom: 1px dotted #D7D7D7;
  margin-bottom: -1px;
}
.products .leftArea .leftNav .nav_cont h3 {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.products .leftArea .leftNav .nav_cont .navCont_list {
  line-height: 25px;
}
.products .leftArea .leftNav .nav_cont .navCont_list li {
  float: left;
  width: 50%;
}
.products .leftArea .vertical .nav_title h3,
.products .leftArea .vertical .nav_cont h3 {
  font-family: "Microsoft YaHei", "微软雅黑";
  font-size: 14px;
}
.products .leftArea .vertical li {
  width: auto;
  float: none;
  padding-left: 8px;
}
.products .rightArea {
  width: 810px;
}
.products .rightArea .banner_bar {
  margin-bottom: 8px;
}
.products .rightArea .products_title {
  height: 34px;
  border-bottom: 1px solid #CCC;
}
.products .rightArea .products_title h3 {
  width: 180px;
  border-bottom: 2px solid #096DBA;
  height: 34px;
  line-height: 34px;
  text-indent: 9px;
}
.products .rightArea .products_list .item {
  width: 25%;
  *width: 24.9%;
  height: 285px;
  float: left;
  margin-bottom: 10px;
}
.products .rightArea .products_list .item .item_cont {
  padding: 0 15px;
}
.products .rightArea .products_list .item .item_cont img {
  height: 170px;
}
.products .rightArea .products_list .item .item_cont .img_item {
  height: 170px;
  text-align: center;
}
.products .rightArea .products_list .item .item_cont a {
  color: #000;
}
.products .rightArea .products_list .item .item_cont a:hover {
  text-decoration: underline;
}
.products .rightArea .products_list .item .item_cont .money {
  color: #D4105A;
  font-weight: bold;
  padding-top: 10px;
}
.products .rightArea .products_list .item .item_cont .stars {
  width: 13px;
  height: 12px;
  overflow: hidden;
  background: url(imgs/icon/) left top no-repeat;
  margin-right: 1px;
}
.screening_box {
  border-bottom: 1px solid #CCC;
  font-family: Verdana;
}
.screening_box dt {
  width: 74px;
  line-height: 32px;
  text-align: right;
  float: left;
  margin-right: 42px;
}
.screening_box .limit {
  width: 55px;
  float: left;
  line-height: 32px;
}
.screening_box a {
  padding: 2px;
}
.screening_box .active {
  background-color: #1D7AD9;
  color: #FFF;
}
.screening_box .screening_list {
  line-height: 32px;
  width: 626px;
  float: left;
}
.screening_box .screening_list ul li {
  width: 20%;
  float: left;
}
.screening_box .screening_list .screen_more {
  border: 1px solid #CCC;
  height: 23px;
  line-height: 23px;
  margin-top: 4px;
  float: left;
  padding: 0 11px;
  margin-right: 10px;
}
.screening_box .screening_list .screen_more a {
  background: url(imgs/icon/sj_gray.jpg) right center no-repeat;
  padding-right: 14px;
}
.addInfo {
  height: 31px;
  border: 1px solid #CCC;
  background-color: #F5F5F5;
}
.addInfo .address {
  float: left;
}
.addInfo .address .add_text {
  float: left;
  line-height: 31px;
  padding-left: 12px;
  padding-right: 6px;
}
.addInfo .address .select {
  margin-top: 4px;
}
.addInfo .screen_text {
  line-height: 31px;
  padding-right: 80px;
}
.addInfo .screen_text .check {
  position: relative;
  top: -1px;
  _top: 4px;
}
.addInfo .screen_text .check input,
.addInfo .screen_text .check label,
.addInfo .screen_text .check .shop_number {
  vertical-align: middle;
}
.addInfo .screen_text .shop_number {
  position: relative;
  _top: 4px;
}
.addInfo .screen_text .shop_number em {
  color: #F00;
  font-style: normal;
  font-weight: bold;
}
.products .rightArea div.screening_list_more {
  padding-left: 0.5%;
}
.products .rightArea div.screening_list_more .item {
  width: 33.3%;
  position: relative;
}
.products .rightArea div.screening_list_more .item .item_cont .addCar {
  border: 1px solid #999;
  height: 22px;
  display: inline-block;
  padding: 0 6px 13px;
  background: url(imgs/icon/car.jpg) 6px center no-repeat;
}
.products .rightArea div.screening_list_more .item .hot {
  width: 12px;
  height: 12px;
  background: url(img/icon/hou.jpg) left center no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.page {
  text-align: center;
}
.page a {
  height: 24px;
  display: inline-block;
  line-height: 24px;
  border: 1px solid #CCC;
  padding: 0 12px;
  margin: 0 2px;
}
.page a,
.page span,
.page input {
  vertical-align: middle;
  position: relative;
  z-index: 2;
}
.page .hl {
  display: inline-block;
  padding: 0 12px;
  margin: 0 2px;
}
.page .morePage {
  padding-left: 14px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
}
.page .pageNum {
  width: 29px;
  padding: 0 3px;
  border: 1px solid #CCC;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-left: 4px;
}
.page .pageBtn {
  width: 44px;
  height: 24px;
  line-height: 24px;
  background-color: #E8E8E8;
}
.select {
  border: 1px solid #CCC;
  height: 22px;
  line-height: 22px;
  float: left;
  background-color: #FFF;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  z-index: 1;
}
.select h3 {
  font-size: 12px;
  font-weight: normal;
}
.select span {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background: url(imgs/icom/sj_gray.jpg) center center no-repeat;
}
.select .show_select {
  position: absolute;
  left: 0;
  top: 22;
  background-color: #FFF;
  width: 100%;
  border: 1px solid #CCC;
}
.select .show_select li {
  padding-left: 10px;
}
.bg_gray {
  background-color: #F0F0F0;
}
.userPosition {
  font-size: 0px;
  font-family: Verdana;
  margin-top: 25px;
  margin-bottom: 15px;
}
.userPosition em {
  font-style: normal;
}
.userPosition a:hover {
  text-decoration: underline;
}
.userPosition em,
.userPosition a,
.userPosition strong,
.userPosition span {
  font-size: 12px;
}
.description_info {
  background-color: #FFF;
}
.description_info .description {
  border: 1px solid #CCC;
}
.description_info .description .leftArea {
  width: 309px;
}
.description_info .description .leftArea .description_imgs {
  height: 340px;
}
.description_info .description .leftArea .description_imgs .big {
  height: 34px;
  text-align: center;
}
.description_info .description .leftArea .des_smimg {
  padding-left: 1px;
  width: 265px;
  margin: 0 auto;
}
.description_info .description .leftArea .des_smimg li {
  float: left;
  margin-left: -1px;
}
.description_info .description .leftArea .des_smimg li img {
  border: 1px solid #CCC;
}
.description_info .description .leftArea .des_smimg .active {
  border-color: #317EE7;
  position: relative;
}
.description_info .description .reightArea {
  width: 688px;
  border-left: 1px solid #CCC;
}
.description_info .description .reightArea .des_content {
  padding: 10px;
}
.description_info .description .reightArea .des_content h3 {
  font: bold 16px/22px "Microsoft YaHei", "微软雅黑";
  padding: 13px 25px;
}
.description_info .description .reightArea .des_content .dl {
  margin-bottom: 8px;
}
.description_info .description .reightArea .des_content .dl .dt {
  width: 75px;
  float: left;
  color: #666;
  text-indent: 17px;
  line-height: 25px;
}
.description_info .description .reightArea .des_content .dl .dd .des_money {
  font-size: 18px;
  color: red;
  font-family: Verdana;
}
.description_info .description .reightArea .des_content .dl .dd .des_money em {
  font-style: normal;
  font-size: 12px;
}
.description_info .description .reightArea .des_content .dl .dd .hg {
  padding-top: 4px;
  display: inline-block;
}
.description_info .description .reightArea .des_content .dl .dd .hg .hg_icon {
  width: 55px;
  height: 58px;
  display: inline-block;
  background: url(imgs/icon/hg_icon.jpg) left top no-repeat;
  color: #FFF;
  font-style: normal;
  text-indent: 16px;
  line-height: 18px;
  margin-right: 10px;
}
