.comWidth {
  width: 1000px;
  margin: 0 auto;
}
.leftArea {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.topBar {
  height: 31px;
  background-color: #F7F7F7;
  line-height: 31px;
}
.topBar a:hover {
  color: red;
}
.collection {
  background: url(imgs/icon/collection.jpg) left center no-repeat;
  padding-left: 19px;
  font-weight: bold;
}
.logoBar {
  height: 85px;
  background-color: #1D7AD9;
}
.logo {
  padding-left: 41px;
  padding-top: 13px;
}
.search_box {
  width: 430px;
  padding-top: 23px;
  padding-left: 185px;
}
.search_box .search_text {
  width: 350px;
  height: 35px;
  line-height: 35px\9;
  /* css \9:代表所有的IE浏览器  */
  padding: 0 5px;
  background-color: #FFF;
}
.search_box .search_btn {
  width: 70px;
  height: 35px;
  font-size: 14px;
  background-color: #FF8C00;
  color: #fff;
  cursor: pointer;
}
.shopCar {
  width: 145px;
  height: 35px;
  background-color: #FF9C01;
  margin-top: 23px;
  margin-right: 59px;
  /* 让子元素继承后面的样式--> */
  font: 14px/35px "Microsoft YaHei", "微软雅黑";
  color: #FFF;
}
.shopCar .shopText {
  color: #FFF;
  height: 100%;
  width: 87px;
  border-right: 1px solid #E27A00;
  background: url(imgs/icon/shaoIcon.jpg) 10px center no-repeat;
  text-indent: 40px;
}
.shopCar .shopNum {
  width: 27px;
  height: 35px;
  border-left: 1px solid #FF9C01;
  background: url(img/icon/sj.jpg) 33px center no-repeat;
  text-align: right;
  padding-right: 27px;
}
.navBox {
  height: 35px;
  background-color: #0067d0;
  color: #fff;
}
.navBox .shopClass {
  width: 190px;
  line-height: 35px;
  position: relative;
}
.navBox .shopClass h3 {
  text-align: center;
  font-family: "Microsoft YaHei", "微软雅黑";
}
.navBox .shopClass i {
  background: url(imgs/icon/down.jpg) left center no-repeat;
  width: 11px;
  height: 7px;
  overflow: hidden;
  display: inline-block;
  margin-left: 11px;
}
.navBox .shopClass .shopClass_show {
  background-color: #4593FD;
  width: 100%;
  position: absolute;
  left: 0;
  top: 35px;
}
.navBox .shopClass .shopClass_show .shopClass_item {
  padding: 12px 10px;
  border-bottom: 1px solid #3487F2;
  border-top: 1px solid #5AA1FE;
}
.navBox .shopClass .shopClass_show .shopClass_item dt {
  height: 22px;
  background: url(img/icon/shop_js.jpg) right center no-repeat;
}
.navBox .shopClass .shopClass_show .shopClass_item a {
  color: #FFF;
}
.navBox .shopClass .shopClass_show .shopClass_item a:hover {
  text-decoration: underline;
}
.navBox .shopClass .shopClass_show .shopClass_item .b {
  font: 14px/1 "Microsoft YaHei", "微软雅黑";
}
.navBox .shopClass .shopClass_show .shopClass_item .aLink {
  width: 48px;
  height: 20px;
  background: url(img/icon/aLink_bg.png) left center no-repeat;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  text-decoration: underline;
}
.navBox .shopClass .shopClass_show .shopClass_active {
  background-color: #FFF;
  margin-left: 1px;
}
.navBox .shopClass .shopClass_show .shopClass_active dt {
  background: none;
}
.navBox .shopClass .shopClass_show .shopClass_active a {
  color: #000;
}
.navBox .shopClass .shopClass_show .shopClass_active .aLink {
  color: #FFF;
  text-decoration: none;
}
.navBox .shopClass .shopClass_list {
  width: 568px;
  border: 1px solid #CCC;
  border-left: 1px solid #FFF;
  position: absolute;
  left: 190px;
  top: 35px;
}
.navBox .shopClass .shopClass_list .shopList_cont {
  padding: 20px;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_item {
  padding: 10px 0;
  border-bottom: 1px dotted #CCC;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_item dt {
  color: #4B87D9;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_item dd {
  padding-left: 60px;
  margin-top: -24px;
  line-height: 24px;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_item dd a {
  margin-right: 12px;
  color: #000;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_links {
  padding: 15px 0;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_links a {
  color: #FFF;
  background-color: #2785E6;
  height: 26px;
  line-height: 26px;
  font-style: 12px;
  display: inline-block;
  padding: 0 8px;
}
.navBox .shopClass .shopClass_list .shopList_cont .shopList_links a span {
  width: 11px;
  height: 7px;
  background: url(imgs/icon/shop_sj.jpg) left center no-repeat;
  display: inline-block;
  margin-left: 7px;
}
.navBox .nav {
  line-height: 35px;
}
.navBox .nav li {
  float: left;
}
.navBox .nav li a {
  height: 35px;
  display: inline-block;
  padding: 0 35px;
  color: #FFF;
}
.navBox .nav li .active {
  background-color: #4593FD;
}
.banner_bar {
  float: right;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  background-color: yellow;
}
.banner_bar .imgBox {
  position: absolute;
  left: 0;
  top: 0;
}
.banner_bar .imgBox li {
  float: left;
}
.banner_bar .imgBox img {
  display: block;
}
.banner_bar .imgNum {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.banner_bar .imgNum a {
  width: 20px;
  height: 5px;
  margin: 0 3px;
  background-color: #FFF;
  overflow: hidden;
  display: inline-block;
}
.banner_bar .imgNum .active {
  background-color: #FF7700;
}
.banner_big {
  width: 810px;
  height: 326px;
}
.banner_big .imgBox {
  width: 3240px;
  height: 326px;
}
.banner_big .imgBox img {
  width: 810px;
  height: 326px;
}
.banner_sm {
  width: 190px;
  height: 400px;
}
.banner_sm .imgBox {
  width: 760px;
  height: 400px;
}
.banner_sm .imgBox img {
  width: 380px;
  height: 400px;
}
.shopTitle {
  height: 44px;
  line-height: 44px;
  font-family: "Microsoft YaHei", "微软雅黑";
  margin-bottom: 15px;
}
.shopTitle h3 {
  font-size: 24px;
  float: left;
  font-weight: normal;
  padding-left: 15px;
}
.shopTitle .icon {
  width: 44px;
  height: 44px;
  background: url(imgs/icon/shopIcon.jpg) left top no-repeat;
}
.shopTitle .more {
  float: right;
  font-family: "宋体";
}
.shopTitle .more:hover {
  text-decoration: underline;
}
.shopList {
  margin-bottom: 15px;
}
.shopList .leftArea {
  width: 190px;
}
.shopList .rightArea {
  width: 808px;
  height: 396px;
  border: 1px solid #999;
  border-bottom: 3px solid #999;
  overflow: hidden;
}
.shopList .rightArea .shopList_top {
  margin-right: -4px;
}
.shopList .rightArea .shopList_top .shop_item {
  width: 202px;
  height: 279px;
  float: left;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  text-align: center;
  font-family: "Microsoft YaHei", "微软雅黑";
}
.shopList .rightArea .shopList_top .shop_item .shop_img {
  height: 218px;
}
.shopList .rightArea .shopList_top .shop_item .shop_img img {
  width: 100%;
  height: 218px;
  display: block;
}
.shopList .rightArea .shopList_top .shop_item h3 {
  font-size: 16px;
}
.shopList .rightArea .shopList_top .shop_item p {
  font-size: 14px;
  color: #FF7300;
  line-height: 21px;
}
.shopList .rightArea .shopItem_sm {
  width: 202px;
  height: 106px;
  border-right: 1px solid #999;
  padding-top: 10px;
  float: left;
  margin-right: -1px;
}
.shopList .rightArea .shopItem_sm .shopItem_smImg {
  width: 95px;
  float: left;
}
.shopList .rightArea .shopItem_sm .shopItem_smImg img {
  width: 95px;
  height: 95px;
}
.shopList .rightArea .shopItem_sm .shopItem_text {
  padding-top: 28px;
  width: 103px;
  float: left;
}
.shopList .rightArea .shopItem_sm .shopItem_text p {
  color: #FF7300;
}
.shopList .rightArea .shopItem_sm .shopItem_text h3 {
  font-family: "Microsoft YaHei", "微软雅黑";
  font-size: 16px;
  font-weight: normal;
  color: #181818;
  line-height: 30px;
}
.hr_25 {
  height: 25px;
}
.footer {
  text-align: center;
  background-color: #D4D4D4;
  line-height: 24px;
  padding: 50px 0;
}
.footer i {
  font-style: normal;
  margin: 0 5px;
}
.footer a {
  color: #000;
}
.footer a:hover {
  color: #F60;
}
.footer p.web {
  padding-top: 30px;
}
.footer img {
  margin: 0 12px;
}
