// 公用的class
.comWidth{width: 1000px;margin:0 auto;}
.leftArea{float: left;}
.right{float: right;}

// topBar
.topBar{height: 31px;background-color: #F7F7F7;line-height: 31px;
	a:hover{color: red;}
}
.collection{background: url(imgs/icon/collection.jpg) left center no-repeat;padding-left: 19px;font-weight: bold;}
.logoBar{height: 85px;background-color: #1D7AD9;}
.logo{padding-left: 41px;padding-top: 13px;}

// search
.search_box{width: 430px;padding-top: 23px;padding-left: 185px;
	.search_text{width: 350px;height: 35px;line-height: 35px\9; /* css \9:代表所有的IE浏览器  */padding: 0 5px;background-color: #FFF;}
	.search_btn{width: 70px;height: 35px;font-size: 14px;background-color: #FF8C00; color: #fff;cursor: pointer;}
}

// 购物车
.shopCar{width: 145px;height: 35px;background-color: #FF9C01;margin-top: 23px;margin-right: 59px;
	/* 让子元素继承后面的样式--> */font: 14px/35px  "Microsoft YaHei","微软雅黑"; color: #FFF;
	.shopText{color: #FFF;height: 100%;width: 87px;border-right: 1px solid #E27A00;background: url(imgs/icon/shaoIcon.jpg) 10px center no-repeat;text-indent: 40px;}
	.shopNum{width: 27px;height: 35px;border-left:1px solid #FF9C01;background: url(img/icon/sj.jpg) 33px center no-repeat;text-align: right;padding-right: 27px;}
}
// 导航
.navBox{height: 35px;background-color: #0067d0;color: #fff;
	.shopClass{width: 190px;line-height: 35px;  position: relative;
		h3{text-align: center;font-family: "Microsoft YaHei","微软雅黑";}
		i{background: url(imgs/icon/down.jpg) left center no-repeat;width: 11px;height: 7px;
			overflow: hidden;display: inline-block;margin-left: 11px;}
		.shopClass_show{background-color: #4593FD;width: 100%; position: absolute;left: 0;top: 35px;
			.shopClass_item{padding:14px 10px;border-bottom: 1px solid #3487F2;border-top: 1px solid #5AA1FE;
					 dt{height: 22px;background: url(img/icon/shop_js.jpg) right center no-repeat;}
					 a{color: #FFF;}
					 .b{font:14px/1 "Microsoft YaHei","微软雅黑";}
					 .aLink{width: 48px;height: 20px;background: url(img/icon/aLink_bg.png) left center no-repeat;display: inline-block;
					 	text-align: center;line-height: 20px;text-decoration: underline;}
				}
			.shopClass_active{background-color: #FFF;margin-left: 1px;
				dt{background: none;}
				a{color: #000;}
				.aLink{color: #FFF;text-decoration: none;}
			}
		}
		.shopClass_list{width: 568px;border: 1px solid #CCC;border-left:1px solid #FFF;position: absolute;left: 190px;top: 35px;
			.shopList_cont{padding: 20px;
				.shopList_item{padding: 10px 0;border-bottom: 1px dotted #CCC;
					dt{color: #4B87D9;font-weight: bold;height: 24px;line-height: 24px;}
					dd{padding-left: 60px;margin-top: -24px;line-height: 24px;
						a{margin-right: 12px;color: #000;}
					}
				}
				.shopList_links{padding: 15px 0;
					a{color:#FFF;background-color: #2785E6;height: 26px;line-height: 26px;font-style: 12px;display: inline-block;padding: 0 8px;
						span{width: 11px;height: 7px;background: url(imgs/icon/shop_sj.jpg) left center no-repeat;display: inline-block;margin-left: 7px;}
					}
				}
			}
		}
	}
	.nav{line-height: 35px;
		li{float: left;
			a{height: 35px;display: inline-block;padding: 0 35px;color: #FFF;}
			.active{background-color: #4593FD;}
		}
	}
}