<div class="login">
    <form class="d-b ta-c" name="from">
        <div class="form-line ta-l p-r"><i class="account va-t d-ib"></i>
            <input ng-model="name" type="text" class="d-ib" placeholder="请输入手机号">
        </div>
        <div class="form-line ta-l p-r"><i class="lock va-t d-ib"></i>
            <input ng-model="pwd" type="text" class="d-ib" placeholder="输入密码">
        </div>
        <button ng-click="login(name,pwd)" class="login-btn">登陆</button>
        <button class="register-btn">注册</button>
    </form>
</div>
