<div class="register">
    <form class="d-b ta-c" name="form">
        <div class="form-line ta-l p-r"><i class="account va-t d-ib"></i>
            <input ng-model="user.phone"
                validator="required,phone"
                name="phone" type="text"
                class="d-ib" placeholder="请输入手机号">
        </div>
        <div class="form-line ta-l p-r"><i class="lock va-t d-ib"></i>
            <input ng-model="user.pwd"
                validator="required,pwd"
                name="pwd" type="password"
                class="d-ib" placeholder="设置6位以上的密码">
        </div>
        <div class="message-wrap ta-l p-r">
            <input name="code"
                validator="required"
                ng-model="user.code"
                type="text" class="message-box" placeholder="短信验证码">
            <span class="message f-r {{time?'disabled':''}}"
            ng-click="time?true:send()" ng-bind="time?time:'发送短信'"></span>
        </div>
        <button class="login-btn" ui-sref="login">登陆</button>
        <button class="register-btn" validation-submit="form" ng-click="submit()">注册</button>
    </form>
</div>