.game{
    width: 200px;
    height: 400px;
    background: #F2FAFF;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    position: absolute;
    top: 10px;
    left: 10px;
}
.next{
    width: 80px;
    height: 80px;
    background: #F2FAFF;
    position: absolute;
    top: 10px;
    left: 250px;
    border: 1px solid blue;
}
.info{
    position: absolute;
    top: 100px;
    left: 250px;
}
.none,.current,.done{
    width: 20px;
    height: 20px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.none{
    background: #F2FAFF;
}
.current{
    background: pink;
    border: 1px solid red;
}
.done{
    background: gray;
    border: 1px solid black;
}