<ul class="bg-w position-list">
    <li ui-sref="position({id:item.id})" class="item p-r" ng-repeat="item in data|filterByObj:filterObj">
        <img class="logo f-l" ng-src="{{item.imageUrl}}" alt="" />
        <h3 class="title" ng-bind="item.name"></h3>
        <p class="text" ng-bind="item.companyName +' ['+ item.cityName +'] '+ item.industryName+' ' +item.scaleName">
        </p>
        <p class="text c-r" ng-bind="item.salaryName"></p>
        <p class="text" ng-bind="item.date"></p>
		<span ng-if="isFavorite" ng-click="$event.stopPropagation();select(item);" class="p-a icon {{item.select?'star-active':'star'}}"></span>
        <div class="clear"></div>
    </li>
</ul>
