/* 散点图组件样式 */
.h5_component_point{
	color: #FFF;
}

.h5_component_point .point{
	display: block;
	background-color: #ccc;
	position: absolute;
	border-radius: 50%;
	// opacity:0;
	-webkit-transition: all 1s;
}
.h5_component_point .point_focus{
	opacity:1;
}
.h5_component_point .name{
	height: 30px;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	font-size: 22px;
}
.h5_component_point .per{
	font-size: .5em;
}
