ul,li{
	list-style: none;
}
.clearfix:after{
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
  }
.color-red{
	color: red;
}

.goods-cls{
	float: left;
	border: 1px solid gray;
	position: relative;
	font-weight: bold;
	color: white;
	cursor: pointer;
}
.add-goods{
	text-align: center;
	zoom: 3;
}

.goods-cls:hover .goods-warp{
	height: 100%;
	transition: all .3s;
}
.goods-cls:hover .goods-warp p{
	display: block;
}

/*蒙层*/
.goods-warp{
	width: 100%;
	height: 0%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
	opacity: .6;
}
.goods-warp p{
	display: none;
}

.table-car-cls{
	margin-left: 35px;
}