* {
  margin: 0;
  padding: 0;
}
#main {
  position: relative;
}
#main .box {
  padding: 15px 0 0 15px;
  float: left;
}
#main .box .pic {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #CCC;
}
#main .box .pic img {
  width: 165px;
  height: auto;
}
