<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>vue 购物车</title>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="css/index.css" />
</head>
<body>
	<div id="app">
		<!-- 商品列表 -->
		<ul>
			<li v-for="item in goods" class="goods-cls">
				<img :src="item.logo" :alt="item.name" />
				<div class="goods-warp" @click="psuhInCar(item)">
					<p v-text="item.name"></p>
					<p class="color-red"> 价格： {{item.price}}</p>
					<p class="add-goods"> + </p>
				</div>
			</li>
		</ul>
		<div class="clearfix"></div>
		<!-- 购物车列表 -->
		<table border="1" class="table-car-cls">
			<thead>
				<tr>
					<td>编号</td>
					<td>商品</td>
					<td>商品名</td>
					<td>单价</td>
					<td>数量</td>
					<td>小计</td>
					<td>描述</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item,index) in goodList">
					<td> <input type="checkbox" v-model="selected" @click="addInCar(item.price,selected)"/></td>
					<td><img :src="item.logo" :alt="item.name" width="100" /></td>
					<td v-text="item.name"></td>
					<td v-text="'￥ '+item.price"></td>
					<td><input type="number" /></td>
					<td v-text="'￥ '+item.price"></td>
					<td v-text="item.desc"></td>
					<td><input type="button" value="删除" @click="delInCar(index,item)" /></td>
				</tr>
				<tr>
					<td>总计</td>
					<td v-text="totals"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="js/index.js"></script>
</html>